<div class="contribute-wrapper">
    <div class="side-nav">
        <app-side-nav-left></app-side-nav-left>
    </div>
    <div class="main-content">

        <!-- start: horizontal stepper -->
        <div class="add-content-stepper-wrapper horizontal-stepper">
            <mat-horizontal-stepper #stepper="matHorizontalStepper">
                <form [formGroup]="contentForm">
                <mat-step [stepControl]="contentForm">
                        <ng-template matStepLabel>Add content</ng-template>
                        <mat-form-field>
                            <input matInput placeholder="Add content" formControlName="contentBody" required>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                </mat-step>
                <mat-step [stepControl]="contentForm">
                   
                        <ng-template matStepLabel>Add tags & categories</ng-template>
                        <mat-form-field>
                            <input matInput placeholder="Add tags & categories" formControlName="tagsCategories" required>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Preview & Save</ng-template>
                    You are now done.
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </form>
            </mat-horizontal-stepper>
        </div>
        <!-- end: Horizontal stepper -->
        
        <!-- start: Vertical stepper -->
        <div class="add-content-stepper-wrapper vertical-stepper">
            <mat-vertical-stepper #stepper="matVerticalStepper">
                <mat-step [stepControl]="contentForm">
                    <form [formGroup]="contentForm">
                        <ng-template matStepLabel>Add content</ng-template>
                        <mat-form-field>
                            <input matInput placeholder="Add content" formControlName="contentBody" required>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="contentForm">
                    <form [formGroup]="contentForm">
                        <ng-template matStepLabel>Add tags & categories</ng-template>
                        <mat-form-field>
                            <input matInput placeholder="Add tags & categories" formControlName="tagsCategories" required>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Preview & Save</ng-template>
                    You are now done.
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </div>
        <!-- end: Vertical stepper -->
    </div>
</div>