.add-content-stepper-wrapper {
    height: 100%;
    width: 100%;
    display: flex;

    mat-horizontal-stepper {
        width: 100%;
    }
}

@media screen and (max-width: 570px) {
    .horizontal-stepper {
     display: none;
    }
}

@media screen and (min-width: 570px) {
    .vertical-stepper {
     display: none;
    }
}