.sign-up-container {
    display: flex;
    width: 201px;
    min-width: 201px;
    max-width: 201px;
    flex-wrap: wrap;

}

.submit-button {
    margin-top: 16px;
}

.sign-up-form {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}